image boot.vfat {
	vfat {
		extraargs = "-F 32 -n BATOCERA"
		@files
	}
	size = 6G
}

image userdata.ext4 {
	ext4 {
		label = "SHARE"
		use-mke2fs = "true"
		extraargs = "-m 0"
	}
	size = "512M"
	mountpoint = "/userdata"
}

image batocera.img {
	hdimage {
		align = "1M"
	}

	# Allwinner A733 (sun60iw2) SPL + U-Boot layout
	# TODO: replace with actual Radxa Cubie A7S U-Boot binary names once confirmed.
	# Reference: https://github.com/radxa/u-boot (allwinner-aiot branch)
	partition boot0 {
		in-partition-table = "no"
		image = "../../uboot-cubie-a7s/boot0_sdcard.fex"
		offset = 8K
	}

	partition boot-pkg {
		in-partition-table = "no"
		image = "../../uboot-cubie-a7s/boot_package.fex"
		offset = 16793600
	}

	partition boot {
		partition-type = 0xC
		bootable = "true"
		image = "boot.vfat"
		offset = 20M
	}

	partition userdata {
		partition-type = 0x83
		image = "userdata.ext4"
	}
}
