image boot.vfat {
	vfat {
		extraargs = "-F 32 -n BATOCERA"
		@files
	}
	size = 6G
}

image userdata.ext4 {
	ext4 {
		label = "SHARE"
		use-mke2fs = "true"
		extraargs = "-m 0"
	}
	size = "512M"
	mountpoint = "/userdata"
}

image batocera.img {
	hdimage {
		align = "1M"
	}

	# NOTE: Allwinner A733 (sun60iw2) requires boot0 + boot_package blobs at offsets
	# 8K and ~16MB for BROM to load U-Boot from SD card. These will be added once
	# the Radxa U-Boot / boot0 binaries are confirmed and built.
	# TODO: restore partition boot0 { ... offset = 8K } and partition boot-pkg { ... }
	# when uboot-cubie-a7s blobs are available.

	partition boot {
		partition-type = 0xC
		bootable = "true"
		image = "boot.vfat"
		offset = 20M
	}

	partition userdata {
		partition-type = 0x83
		image = "userdata.ext4"
	}
}
